<% provide(:title, "Help") %>
<div class="container-fluid" id="main">
<div class="row">




<!--   <a href="#demo1" class="btn btn-info" data-toggle="collapse">Simple collapsible</a>
  <div id="demo1" class="collapse">

  <embed src="README.md">
  <embed src="ModalDiagram.pdf" width="750px" height="750px">
   <a href="refer.pdf"> PDF file </a>
    <img src="/assets/refer.pdf" alt="pdf file">
  </div> -->



<h1>Help</h1>

</div> <!-- row -->
</div> <!-- container-fluid main -->
