<% provide(:title, "Finished") %>
<div class="container-fluid" id="main">
<div class="row">

  <h2>Finished</h2>

  <%= render 'shared/events_listing' %>

<br><br>

</div> <!-- row -->
</div> <!-- container-fluid main -->
