<% provide(:title, "Ideas Assignment") %>
<div class="container-fluid" id="main">
<div class="row">

  <h2>Ideas Assignment</h2>

  <%= render 'shared/ideas_listing' %>

<br><br>

</div> <!-- row -->
</div> <!-- container-fluid main -->
