<% provide(:title, "Legmens") %>
<div class="container-fluid" id="main">
<div class="row">

  <h2>Legmens</h2>

  <%= render 'shared/members_listing' %>

<br><br>

</div> <!-- row -->
</div> <!-- container-fluid main -->
