<% provide(:title, "All Members") %>
<div class="container-fluid" id="main">
<div class="row">

  <h2>All Members</h2>

  <%= render 'shared/members_listing' %>

<br><br>

</div> <!-- row -->
</div> <!-- container-fluid main -->
