<% provide(:title, "Projects Maitenance") %>
<div class="container-fluid" id="main">
<div class="row">

  <h2>Projects Maitenance</h2>

  <%= render 'shared/projects_listing' %>

<br><br>

</div> <!-- row -->
</div> <!-- container-fluid main -->
