<% provide(:title, "Projects Production") %>
<div class="container-fluid" id="main">
<div class="row">

  <h2>Projects Production</h2>

  <%= render 'shared/projects_listing' %>

<br><br>

</div> <!-- row -->
</div> <!-- container-fluid main -->
