<% provide(:title, "News") %>
<div class="container-fluid" id="main">
<div class="row">

  <h2>News</h2>

  <%= render 'shared/reports_listing' %>

<br><br>

</div> <!-- row -->
</div> <!-- container-fluid main -->
