<% provide(:title, "Experience") %>
<div class="container-fluid" id="main">
<div class="row">

  <h2>Experience</h2>

  <%= render 'shared/posts_listing' %>

<br><br>

</div> <!-- row -->
</div> <!-- container-fluid main -->
