$navbar-height:                   52px;
$navbar-default-bg:               #004D40;
$navbar-default-link-color:       #E0F2F1;
$navbar-default-link-hover-bg:    #E0F2F1;
$navbar-default-link-hover-color: #004D40;
$dropdown-bg:               #004D40;
$dropdown-link-color:       #E0F2F1;
$dropdown-link-hover-bg:    #E0F2F1;
$dropdown-link-hover-color: #004D40;

@import "bootstrap-sprockets";
@import "bootstrap";

/* {
    border: 1px solid #000;
} */

/* customize */

$col0d: #004D40; /*# basic color dark */
$col0m: #009688; /*# basic color medium */
$col0l: #E0F2F1; /*# basic color light */
$col1d: #D3AE15; /*# 1st color dark */
$col1l: #ff0; /*# 1st color light */

@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* common */

html {
  background-color: $col0d;  
}

body {
  background-color: $col0d;
  color: $col0l;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container-fluid {
  margin: 0 7px;
}

hr {
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  padding: 4px 5px;
  background-color: $col0d;
  border-color: $col0l;
  color: $col0l;
  text-decoration: none;
  &:hover {
    background-color: $col0l;
    color: $col0d;
  }
}


/* header */

li a.btn {
  margin-top: 10px;
  padding: 4px 5px;
}

.navbar, .navbar-collapse {
  border: 0;
/*  background-color: $col0d; */
  margin-bottom: 0;
}

.navbar-brand { 
  padding: 0;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 2em;
  font-weight: bold;
  a {
    color: $col1d;
    text-decoration: none;
      &:hover {
    color: $col1l;
    }
  }
}

.navbar-toggle {
  margin-right: 0;
}

/* footer */

#footer p {
  text-align: center;
}

/* form */

div.field {
  label {
    margin: 5px;
    color: $col0m;
  }
  input, select, textarea {
    background-color: $col0d;
    color: $col0l;
    padding-left: 5px;
  }
}

/* Form */

div.field {
  label {
    margin-bottom: 10px;
    color: $col0m;
  }
  input, select, textarea {
    background-color: $col0d;
    color: $col0l;
    padding-left: 5px;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


th {
  text-align: center;
}

td a {
  color: $col0m;
  &:hover {
    background-color: $col0l;
    color: $col0d;
    text-decoration: none;
  }
}

.wrapper-show {
  margin-left: 15px;
}

div.panel {
  color: #004D40;
  div.panel-heading {
    padding: 5px;
    background-color: #B2DFDB;
    h4 {
      margin: 5px 0;
      span {
        float: right;
      }
    }
  }
  div.panel-body {
    padding: 5px 5px 0 5px;
    background-color: #E0F2F1;
  }
}

div.modal-header, div.modal-footer {
  padding: 15px 10px;
  background-color: #B2DFDB;
}

div.modal-footer {
  padding: 5px 10px;
  background-color: #B2DFDB;
}

div.modal-body {
  background-color: #eee;
  color: #000;
  span {
    float: right;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
